* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}
.wlcm{
  background: url(images/stairs_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  line-height: 2.5em;
}
.logo{
  position: relative;
  top: 32%;
  left: 48%;
}
.txt{
  width: 50%;
  position: relative;
  top: 37%;
  left: 37%;
}
.wlcm h1{
  font-size: 50;
  font-size: 350%;
}
.h_1{
  left: 44%;
  margin-bottom: 25px;
}
.h_1_2{
  left: 39%;
}
.ms{
  position: relative;
  top: 60%;
  left: 50%;
}
.abt{
  text-align: center;
  padding: 60px;
}
.abt p{
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}
.services{
  background: url(images/services.jpg);
  text-align: center;
  color: white;
  padding: 100px;
}
.services p{
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}
.wtWeDo{
  padding: 100px;
  text-align: center;
}
.wtWeDo h2{
  margin-bottom: 45px;
}
.wtWeDo h6{
  margin-top: 20px;
}
.col-md-4{
  text-align: center;
}
.jImg1{
  margin: auto;
}
.jImg2{
  margin: auto;
}
.jImg3{
  margin: auto;
}
.prtflio{
  text-align: center;
}
.prtflio h2{
  margin-bottom: 45px;
}
.rw2{
  width: 63%;
  margin: auto;
  margin-bottom: 35px;
}
.col-md-3{
  position: relative;
}
.overlay{
  position: absolute;
  width: 91.8%;
  height: 100%;
  padding: 30px;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
}
.overlayNest{
  position: absolute;
  width: 75%;
  height: 75%;
  color: white;
  padding-top: 55px;
  border: solid 4px white;
  z-index: 2;
}
