* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wlcm{
  background: url(images/stairs_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  line-height: 2.5em;
}
.logo{
  position: relative;
  top: 32%;
  left: 48%;
}
.txt{
  width: 50%;
  position: relative;
  top: 37%;
  left: 37%;
}
.wlcm h1{
  font-size: 50;
  font-size: 350%;
}
.h_1{
  left: 44%;
  margin-bottom: 25px;
}
.h_1_2{
  left: 39%;
}
.ms{
  position: relative;
  top: 60%;
  left: 50%;
}
.abt{
  text-align: center;
  padding: 60px;
}
.abt p{
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}